.breadcrumbs
  font-size: 12px;
  margin: 15px 10px;
  padding: 3px 15px;
  line-height: 2.5;
  background: white;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  > div
    display: inline-block;

  i
    font-size: 12px;
    animation: none;
    margin: 0;
    position: relative;
    top: 3px;
    margin-left: 12px;
    margin-right: 10px;
    opacity: 0.5;

  a
    color: $color-oil;
    font-weight: normal
    display: inline-block
    cursor: pointer

  .plus
    padding: 0 5px;

  .text
    color: $color-oil;
    border-radius: 20px;

    &:hover
      opacity: 1;
